@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-mode="light"] {
  --text-color: rgb(0, 0, 0);
  --header-backround-color: #ffffff;
  --toogle-second-color: #d2cfdd;
  --main-background-color: #e5e5e5;
}
[data-mode="dark"] {
  --text-color: rgb(255, 255, 255);
  --header-backround-color: #000;
  --toogle-second-color: #67666d;
  --main-background-color: #202024;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
header {
  width: 99vw;
  height: 55px;
  background-color: var(--header-backround-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.heading {
  display: flex;
  align-items: center;
  gap: 20px;
}
.heading img {
  height: 35px;
  width: 35px;
}
.heading h1 {
  cursor: pointer;
  color: var(--text-color);
}
.search-div {
  display: flex;
  gap: 20px;
  align-items: center;
}
.search {
  font-size: 22px;
  padding: 4px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #fca311;
  cursor: pointer;
  transition: 0.1s linear;
  background-color: transparent;
  color: var(--text-color);
}
.search:hover {
  background-color: #fca311;
}
.toggle {
  cursor: pointer;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #4e30d9, var(--toogle-second-color));
  padding: 0px 1px;
}
.toggle .circle {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: var(--text-color);
}
.circle-move {
  transform: translateX(19px);
}
.main-1 {
  min-height: 96.5vh;
  background-color: var(--main-background-color);
}
.heading-img {
  display: flex;
  color: var(--text-color);
}
.heading-img img {
  width: 610px;
  height: 575px;
  padding-top: 80px;
  margin-left: -20px;
}
.heading-div {
  margin-top: 308px;
  padding: 0 160px;
}
footer {
  width: 99vw;
  height: 55px;
  background-color: var(--header-backround-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  color: var(--text-color);
}
footer img {
  width: 25px;
  cursor: pointer;
}
.inverted {
  display: none;
}
.trending-div > h2 {
  color: #fca311;
  text-align: center;
}
.trending-container {
  display: flex;
  gap: 15px;
  animation: move 19s linear infinite;
  animation-delay: 0.5s;
}
.trending {
  flex-shrink: 0;
  min-width: 400px;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 25px 0 0 0;
}
.trending img {
  width: 30px;
}
.trending p span {
  margin-left: 5px;
}

@keyframes move {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(-1375px);
  }
  100% {
    transform: translate(0px);
  }
}
.main-2 {
  width: 100%;
  background-color: var(--main-background-color);
  min-height: calc(100vh - 110px);
  display: none;
}
.main-2-header {
  text-align: center;
  height: 102px;
}
.main-2-header h2 {
  color: #fca311;
  padding: 15px 0;
}
.main-2-header input {
  width: 300px;
  height: 33px;
  font-size: 24px;
  padding: 5px;
}
.main-2-header button {
  width: 90px;
  height: 35px;
  font-size: 24px;
  padding: 2px 6px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.1s linear;
  border-radius: 3px;
}
.main-2-header button:hover {
  background-color: #fca311;
}
::placeholder {
  color: #757575;
}
.line {
  border-top: 1px solid #757575;
}
.main-2-search-container {
  padding: 15px 0;
}
.res-div {
  width: 1360px;
  height: 50px;
  margin: 0 auto;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}
.res-div:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  background-color: white;
}
.res-div button {
  min-height: 30px;
  width: 100px;
  background-color: transparent;
  border: 1px solid black;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s linear;
}
.res-div button:hover {
  background-color: black;
  color: white;
}
.res-content {
  display: flex;
  align-items: center;
  gap: 15px;
}
.res-content img {
  height: 33px;
}
.modal-outer-div {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: none;
}
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80vw;
  border-radius: 25px;
  background-color: #cdcaca;
  border: 2px solid black;
}
.no-scroll {
  overflow: hidden;
}
.close {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 38px;
  padding: 5px 10px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
}
.close:hover {
  color: #4e30d9;
}
.img-content-div {
  display: flex;
  align-items: center;
  padding: 0 30px;
  gap: 50px;
  padding-bottom: 30px;
}
.modal-content {
  min-width: 50vw;
}
.modal-content h2 {
  text-align: center;
  color: #ef9607;
  margin-bottom: 15px;
  text-decoration: underline;
}
.modal-content h1 {
  margin-top: 70px;
  color: #ef0707;
  text-align: center;
  margin-bottom: 15px;
}
.desc {
  text-align: justify;
}
.price-history {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  font-weight: 600;
}
.loading-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
.loading-screen img {
  width: 80px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
