@font-face {
  font-family: "MyFont";
  src: url("./ProductSans-Regular.ttf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "MyFont", sans-serif;
}
