@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: #0a6cf1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.input-date {
  height: 110px;
  width: 555px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(26, 25, 25);
}
input[type="date"] {
  padding: 15px 20px;
  border-radius: 5px;
  width: 300px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  outline: none;
}
button {
  border-radius: 5px;
  padding: 15px 40px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  cursor: pointer;
  outline: none;
}
.display {
  margin-top: 50px;
  width: 555px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.display div {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  background-color: black;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 10px rgb(26, 25, 25);
  padding-top: 20px;
  align-items: center;
}
.display div p {
  color: #70705c;
  font-size: 14px;
}
h1 {
  font-weight: 400;
}
