@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Tilt+Neon&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  font-family: "Roboto Mono", monospace;
  padding: 60px 15px;
  overflow-x: hidden;
  padding-left: 50px;
}
.container h1 {
  font-weight: 400;
  margin-bottom: 30px;
}
.line {
  border-top: 2px solid rgba(255, 255, 255, 0.766);
  margin-bottom: 8px;
}
input[type="text"] {
  height: 30px;
  width: 150px;
  padding: 3px;
  font-size: 19px;
  width: 240px;
}
input[type="submit"] {
  height: 30px;
  font-size: 19px;
  padding: 0 8px;
  cursor: pointer;
  transition: 0.1s linear;
}
input[type="submit"]:hover {
  color: white;
  background-color: black;
  border: 1px solid grey;
}
form {
  margin-bottom: 40px;
}
.emojee-container {
  width: 100%;
  height: 100%;
}
.emojee {
  width: 1005;
  height: 65px;
  display: flex;
  font-size: 21px;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 15px;
  background-color: rgb(66, 62, 70);
}
.img-title {
  width: 55%;
  display: flex;
  align-items: center;
}
.img {
  width: 16%;
  font-size: 48px;
}
.about {
  width: 45%;
}
.title {
  text-transform: capitalize;
}
.about::first-letter {
  text-transform: uppercase;
}
.emojee-line {
  border-top: 1px solid rgba(255, 255, 255, 0.17);
  width: 100%;
}
.animation-left {
  animation: fromleft 0.3s linear;
}
@keyframes fromleft {
  0% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(0px);
  }
}
.animation-right {
  animation: fromright 0.3s linear;
}
@keyframes fromright {
  0% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(0px);
  }
}
