* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toggle-div {
  background-color: #222222;
  height: 60px;
  width: 120px;
  border-radius: 30px;
  margin-top: 50px;
  cursor: pointer;
}
.moveRight {
  transform: translateX(60px);
}
.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: -39px;
  left: 5px;
  transform: 0.2s linear;
}
p {
  margin-top: 100px;
  color: #222222;
  font-size: 80px;
  font-weight: 600;
  font-family: sans-serif;
}
svg {
  width: 40px;
}
svg:nth-child(1) {
  position: relative;
  top: 10px;
  left: 10px;
}
svg:nth-child(2) {
  position: relative;
  top: 10px;
  left: 25px;
}
