* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(18, 3, 42);
  position: relative;
  overflow: hidden;
  font-family: Poppins;
  width: 100vw;
  height: 100vh;
}
form {
  padding-left: 5px;
  background-color: white;
  width: max-content;
  border-radius: 24px;
  margin: 10px;
  display: flex;
}
form input {
  width: 40px;
  background-color: transparent;
  padding: 0;
  font-size: large;
  height: 45px;
  border: none;
  cursor: pointer;
}
form input::-webkit-color-swatch {
  border-radius: 50%;
}

textarea {
  all: unset;
  color: #d6d6d6;
}
.card {
  background-color: #333;
  width: max-content;
  border-radius: 10px;
  border-top: 30px solid yellow;
  padding: 10px;
  box-shadow: 0 20px 50px #0004;
  position: absolute;
  top: 60px;
  left: 50px;
}
.close {
  position: absolute;
  bottom: 100%;
  right: 0;
  height: 30px;
  font-family: cursive;
  font-size: large;
  padding-right: 10px;
  cursor: pointer;
  color: white;
}
